
#hukamnamapage {
    font-weight: 500;
    justify-self: center;
}

.pn {
    font-size: 25px;
}

@media (max-width:500px){
    #hukamnamapage {
        margin: 15px;
        margin-bottom: 50px;
    }
}