#shead {
    justify-self: center;
}

#sarovar {
    position: relative;
    justify-self: center;
    text-align: center;
    display: flex;
    width: 100%;
    margin-bottom: 20%;
    margin-top: 50px;
}

.sitem {
    height: 350px;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 100%;
    padding: 5px;
    color: rgba(2, 22, 51, 0.952);
    display: flex;
    justify-self: center;
    justify-content: center;
   
}

.sitem img {
    height: 325px;
    width: 425px;
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.15);
    border-radius: 5%;
}

.sitem li {
    margin-right: 5%;
    padding: 10px;
    font-weight: 900;
    white-space: nowrap;
}


.btn {
    justify-self: center;
    
    border-radius: 50%;
    padding: 5px;
    height: 10%;
    width: 10%;
   
}

.btn img {
    height: 100%;
    width:  100%;
}

@media (max-width:500px) {

    #sarovar {
        display: flex;
        justify-content: center;
       margin-top: 20%;
    }

    .sitem {
        
        justify-self: center;
        text-align: center;
        width: 50%;
        font-size: 100%;
        font-weight: 800;
        height: 150px;
    }

    .imagewrapper img  {
        height: 250px;
        width: 300px;

    }

    .btn {
        height: 100px;
        width: 100px;
    }

    .btn img {
        height: 100%;
        width: 100%;
    }

    #sarovar div {
        height: 190px;
 
    }
}